:root {
  /* text colors */
  --main-color: #212121;
  --text-color: #757575;
  --main-white: #ffffff;
  --accent-color: #2196f3;

  /* background colors */

  --footer-color: rgba(255, 255, 255, 0.6);
  --background-main: #2f303a;
  --background-section: #f5f4fa;
}

body {
  color: var(--main-color);
  background-color: var(--main-white);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}
img {
  display: block;
}
/* header */
.header {
  
}

.logo {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.site-nav {
  margin: 0 auto;
}

.link {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.active {
  color: var(--accent-color);
}
.header-item {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--background-main);
  color: var(--main-white);
  width: 100%;
  height: 600px;
  padding: 200px;
  margin: auto;
  /* margin-bottom: 94px; */
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  height: 120px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--main-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}
/* about */
.about-list{
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-text {
  color: var(--text-color);
  line-height: 1.71;
}
/* gallery */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
  }
/* team */
.group-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.group-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--background-main);
  color: var(--main-white);
}

.logo-footer {
  color: var(--main-white);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts {
  color: var(--footer-color);
  line-height: 1.71;
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* portfolio */
.filter-btn {
  font-family: inherit;
  background-color: var(--background-section);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white);
}

.filter-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-text {
  font-size: 16px;
  line-height: 1.88;
}
